.build {
  display: none;
}

div div.build {
  border: solid lightgray 1px;
  border-radius: 8px;
  padding: 25px;
}

.checkout {
  display: none;
}

.summary {
  display: none;
}

.orderDetails {
  display: none;
}

#orderDetails {
  list-style-type: none;
}

#addPizzaBtn {
  float: right;
}
